PORT=example

NODE_ENV=example 

MONGODB_URI=example
JWT_ACCESS_SECRET=example
JWT_ACCESS_EXPIRES=example
JWT_REFRESH_SECRET=example
JWT_REFRESH_EXPIRES=example
JWT_RESET_EXPIRES=example

#SMTP configuration for nodemialer
SMTP_HOST=example
SMTP_PORT=example
SMTP_USER=example   
SMTP_PASS=example 
SMTP_FROM_NAME=example
SMTP_FROM_EMAIL=example